.alb_alb-text-align__2PLbV {
  text-align: right !important;
}

.alb_alb-direction-rtl__3suuQ {
  direction: ltr !important;
  direction: initial !important;
  align-items: flex-end !important;
}

.alb_alb-transform-rotate__ds_BW {
  display: inline-block;
  transform: rotate(180deg);
}

.alb_alb-justify-content__tx7cC {
  justify-content: flex-start;
}

.alb_alb-date-range__2p-UP {
  left: -9999px !important;
}

.List_list-item-container__19z1k {
  display: flex;
  align-items: center;
  overflow-x: hidden;
}

.List_list-item-entity__3BxXv {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1 1;
}

.List_list-item-entity__3BxXv > div {
  text-align: center;
  align-items: center;
  justify-content: center;
}

.disable-mouse iframe {
  pointer-events: none;
}

